@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --black-text-color: #000000;
  --gray-text-color: #444444;
  --white-text-color: #ffffff;
  --light-gray-text-color: #6e6e6e;
  --lighter-gray-text-color: #ebebeb;
  --silver-text-color: #53565a;

  --max-width: 1340px;
  --preview-area-width: 884px;
  --sidebar-area-width: 375px;
  --outer-margin: 50px;
  --mobile-outer-margin: 20px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: white;
}
.container {
  margin: 0 auto;
  max-width: 1340px;
}
/* ======== Upper Header ========= */
.upper-header {
  background-color: #ebebeb;
}
.upper-header .upper-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upper-nav li {
  border-right: 1px solid #d2d2d2;
}
.upper-nav li:last-child {
  border: none;
}
.upper-nav .upper-nav-item {
  display: flex;
  align-items: center;
  padding: 9px 10px;
  gap: 5px;
  color: var(--gray-text-color);
}
.upper-nav .upper-nav-item img {
  width: 16px;
}
.upper-nav .upper-nav-item img.profile-icon {
  width: 18px;
  height: 14px;
}
.upper-nav .upper-nav-item img.down-arrow {
  width: 10px;
}

/* ======== Lower Header ========= */
.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lower-header .logo p {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.lower-header .logo p span {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.products-nav-container .products-nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
.products-nav-container .products-nav .products-nav-item {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.products-nav-item {
  padding: 27px 0;
  display: inline-block;
}
.section-nav-container .section-nav {
  align-items: center;
  display: flex;
  gap: 30px;
}
.section-nav-container .section-nav .section-nav-item {
  height: 19px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-nav-container .section-nav .section-nav-item img {
  width: 19px;
}
.section-nav-container .section-nav .section-nav-item img.heart {
  width: 24px;
}

.section-nav-container .section-nav .section-nav-item.icon-wrapper {
  position: relative;
}
.section-nav-container .section-nav .section-nav-item.icon-wrapper .cart {
  width: 100%;
  height: 100%;
}
.section-nav-container .section-nav .section-nav-item.icon-wrapper .badge {
  position: absolute;
  top: 6px;
  left: 8px;
  background: #007db5;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

/* ======== Separation ========= */

.separation {
  border: none;
  border-top: 1px solid #e7e7e7;
}

/* ======== ad ========= */
.ad .ad-text {
  padding: 20px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  line-height: 12.65px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* ======== preview ========= */

.main {
  display: flex;
  flex-direction: column;
}
.main .preview {
  background-color: #fff;
}
.preview .route {
  display: flex;
  gap: 15px;
}
.preview .route .route-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0%;
  text-transform: capitalize;

  padding: 18px 0;

  color: var(--gray-text-color);
}
.preview .preview-content {
  display: flex;
  justify-content: space-between;
}
.preview .preview-content .image-gallery {
  /* width: 884px; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 344px 1055px 521px;
  gap: 10px;

  grid-template-areas:
    "a a b b c c"
    "d d d d d d"
    "e e e f f f";
}
.image-01 {
  grid-area: a;
}
.image-02 {
  grid-area: b;
}
.image-03 {
  grid-area: c;
}
.image-04 {
  grid-area: d;
  position: relative;
}
.image-04 .wear {
  position: absolute;
  top: 20px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 17px;
  z-index: 1;
  background-color: white;
  padding: 9px 22px;
  border-radius: 50px;
  height: 35px;
}
.image-04 .wear img {
  width: 12px;
  height: 12px;
}
.image-04 .wear p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}
.image-05 {
  grid-area: e;
}
.image-06 {
  grid-area: f;
}
.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sidebar-container {
  width: 375px;
  display: flex;
  flex-direction: column;
}
.sidebar-container .new {
  padding-left: 7px;
  border-left: 3px solid #000000;
  margin-bottom: 4px;
}
.sidebar-container .new p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.sidebar-container .product-info .name-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}
.name-price .product-name {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-transform: uppercase;

  width: 246px;
}
.name-price .product-price {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: right;
}
.product-info .product-type {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: var(--gray-text-color);
  margin-bottom: 6px;
}
.product-info .size-detail {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--light-gray-text-color);
  margin-bottom: 15px;
}
.color-header p {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--black-text-color);
}
.color-header p .colon {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.color-header p .color-name {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--light-gray-text-color);
}
.color-header {
  margin-bottom: 11px;
}
.color-img-container {
  display: flex;
  gap: 4px;
  margin-bottom: 15px;
}
.color-img-container img {
  height: 86px;
  width: 72px;
  object-fit: cover;
}
.sidebar-hr {
  border: none;
  border-bottom: 1px solid #e7e7e7;
}
.product-size {
  margin-top: 15px;
  margin-bottom: 40px;
}
.product-size-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-size-header .select-size {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.product-size-header .size-guide {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-size-header .size-guide img {
  height: 17px;
  margin: 7px;
}
.product-size-header .size-guide p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.product-size .sizes {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}
.product-size .sizes .size {
  height: 45px;
  width: 70px;
  border: 1px solid #000000;

  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.add-to-bag {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);

  padding: 14px 0;
  width: 100%;
  border-radius: 50px;
  background-color: #007db5;

  margin-bottom: 10px;
}
.add-to-wishlist {
  padding: 14px 0;
  width: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  border-radius: 50px;

  margin-bottom: 40px;
}
.add-to-wishlist p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}
.add-to-wishlist .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-wishlist img {
  width: 12px;
}
.checkout-header {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  margin-bottom: 14px;
}

.checkout-benefit {
  display: flex;
  align-items: center;
  gap: 12px;
}
.checkout-benefit img {
  height: 22px;
}
.checkout-benefit p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #444444;
}
.checkout-benefit p span {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.delivery {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #f5f5f5;
}
.delivery-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 24px;
}
.free-return,
.standard-delivery,
.free-return {
  display: flex;
  gap: 16px;
  align-items: center;

  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 16.1px;
  letter-spacing: 0%;
  color: #444444;
}
.product-description {
  margin-top: 15px;
  margin-left: 14px;
}
.product-description .title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product-description .motto {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  margin-bottom: 40px;
}
.product-description .description {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 23px;
  letter-spacing: 0%;

  margin-bottom: 25px;
}
.description-list {
  margin-bottom: 25px;
}
.description-list li {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0%;
  margin-bottom: 2px;
}
.delivery-returns {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: uppercase;

  margin: 12px 14px;
}
.share {
  margin-top: 35px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  gap: 10px;
}
